* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big_container {
    width: 90px;
    height: 180px;
    border: 2px solid darkblue;
    border-radius: 0 0 20% 20%;
    background-color: #fff;
    color: blue;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}

.liters_left {
    flex: 1;
    font-size: 10px;
    /* background-color: red;  */
}

/* .percentage_filled {
    position: absolute;
    bottom: 20%;
} */

.glasses_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glasses {
    width: 30px;
    height: 50px;
    border: 2px solid darkblue;
    border-radius: 0 0 20% 20%;
    background-color: #fff;
    color: blue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.glasses.filled {
    background-color: lightseagreen;
    color: #fff;
}

/* .percentage_filled {
    position: absolute;
    border-radius: 0 0 20% 20%;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.percentage_filled {
    background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10px;
  height: 0;
}