* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: gray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.square {
    height: 16px;
    width: 16px;
    background-color: #1d1d1d;
    margin: 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}
