* {
    box-sizing: border-box;
}

body {
    background-color: brown;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.speed {
    position: absolute;
    bottom: 50px;
    background-color: lightcoral;
    padding: 5px 10px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}