* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: purple;
    border: 1px solid purple;
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
}

button .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}