* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    border-radius: 50px;
    height: 90vh;
    flex: 0.5;
    color: #fff;
    cursor: pointer;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;

}

.panel h3 {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    margin: 0;
    left: 20px;
}

.panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }